@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sunshiney&display=swap');

//_BASE.SCSS
$color-black: #000;
$color-primary: #F4DA39;
$color-secondary: #679ACB;
$color-white: #fff;

$font-sunshiney: 'Sunshiney', cursive;
$font-poppins: 'Poppins', sans-serif;

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


@mixin flexLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textStyles($transform: uppercase){
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: $transform;
}

@mixin centering($topValue){
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fullSpace{
    width: 100%;
    height: 100%;
}
